{% extends 'base.html.twig' %}

{% block title %}SlamQuizz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="jumbotron"> 
    <h2>{% trans %}Do you need to check the Instruction Index and the Intelligence level of your students?{% endtrans %}</h2>
    {% trans %}This is the tool you need! SlamQuizz is a simple and free online QCM software.{% endtrans %}
    <hr/>
    <h2>{% trans %}Feature{% endtrans %}</h2>
    <ul>
        <li>{% trans %}Interactive and motivating content to teach them the joy of "Learning"{% endtrans %}</li>
        <li>{% trans %}Automatic Notation (Because you have better things to do!){% endtrans %}</li>
        <li>{% trans %}Real-time activity monitoring (To ensure that their brain formatting runs smoothly){% endtrans %}</li>
        <li>{% trans %}Accessible even on a Smartphone to be able to test them everywhere!{% endtrans %}</li>
    </ul>
    License CC BY-SA
    <hr/>
    <a class="btn btn-outline-success" href="{{ path('login') }}">{% trans %}Join us now ->{% endtrans %}</a>
</div>
{% endblock %}
