{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users Index{% endtrans %}{% endblock %}

{% block body %}

<h1>{% trans %}User Index:{% endtrans %}</h1>

<ul>

{% for user in users_list %}
    <li> {{ user['first_name'] ~' '~ user['last_name']}} </li>
{% endfor %}
</ul>
{% endblock %}